*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #ecf0f1;
}
h2{
    font-size: 40;
    font-weight: 700;
}
#loading{
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100vw;
}
.notify{
    color: #000;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: capitalize;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}
.notify.success{
    background-color: rgba(22, 160, 133,0.4);
}
.notify.danger{
    background-color: rgba(231, 76, 60,.4);
}
form{
    background: #1abc9c;
    
    padding: 20px;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
thead td{
    font-weight: 700;
    font-size: 20px;
    color: #16a085;
}
td{
    color: #000;
}
button{
    transition:all .3s !important;
}
button:hover{
    transform: scale(1.2);
}